<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green</title>

    <style>
        body {
            background-color: #9ad693;
        }
        h1 {
            color: #38872f;
            text-align: center;
        }
        img {
            image-align: middle;
        }

    </style>
</head>
<body>
    <p><img src="logo-leonardo-consulting.png" alt="LeonardoLogo" width="500" height="63" align="middle"></p>
     <br></br>
    <h1><font face="verdana">Welcome to Leonardo Consulting!</font></h1>
</body>
</html>